body, html { margin: 0; padding: 0; height: 100%; overflow: hidden; font-family: 'Segoe UI', sans-serif; }
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: #2d2d2d; }
::-webkit-scrollbar-thumb { background: #555; border-radius: 3px; }

.resizer {
    width: 5px; cursor: col-resize; background-color: #333;
    border-left: 1px solid #1a1a1a; border-right: 1px solid #1a1a1a;
    z-index: 10;
}
.resizer:hover, .resizer.active { background-color: #007acc; }

#canvas-wrapper { 
    background-color: #1e1e1e;
    background-image: 
        linear-gradient(#333 1px, transparent 1px),
        linear-gradient(90deg, #333 1px, transparent 1px);
}

.tab-active { background-color: #1e1e1e !important; border-top: 2px solid #007acc !important; color: white !important; }
.layer-tab-active { background-color: #3e3e42 !important; font-weight: bold; border-bottom: 2px solid #ffcc00; }

.input-dark {
    background-color: #3c3c3c; border: 1px solid #555; 
    border-radius: 2px; padding: 2px 6px; color: white; width: 100%;
}

.select-dark {
    background-color: #3c3c3c; border: 1px solid #555; 
    border-radius: 2px; padding: 2px 6px; color: white; font-size: 12px;
}

/* Modal Style */
.modal-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7); z-index: 9999;
    display: flex; justify-content: center; align-items: center;
}
.modal-window {
    width: 90%; height: 90%; background: #1e1e1e; border: 1px solid #454545;
    display: flex; flex-direction: column; color: #ccc;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}